@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Heaven Way<br />
    <abbr title="Phone">P:</abbr>
    +886-912345678
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:kaitiy2001@gmail.com">Support@example.com</a><br />
</address>